.application-detail {
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    justify-content: space-between; /* Distribute space between the cards */
    gap: 20px; /* Space between the cards */
  }

  &__card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1; /* Allows cards to be equal width */
    min-width: 200px; /* Minimum width of each card */
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
  }
}
