.application-detail {
    .metrics-heading {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.5em; // Adjust the size as needed
    }

    .metrics-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .metrics-table th,
    .metrics-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .metrics-table th {
        background-color: #f4f4f4;
        font-weight: bold;
        text-align: left;
    }
}

